.content-container{
    
    height: 480px;  
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.tag-container{
    display: flex;
    height: 60px;
    align-items: center;
    overflow: auto;
    white-space: nowrap;
    -ms-overflow-style: none;
    scrollbar-width: none;
    
    
    
}
.tag-container::-webkit-scrollbar{
    display: none;
}

.card-container{
    display: flex;
    height: 400px;
    justify-content: center;
    align-items: center;
    
}



