


.header-container{

    height: 50px;
    width: 90%;
    min-width:auto;
    position: fixed;
    left: 5%;
    top:5%;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    
}

.login-button{
    background-color: #F40000;
    color: #fff;
    width: 90px;
    height: 40px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'TCCC-UnityHeadline';
    font-size: 12px;

    
}

.profile{
  height: 40px;
  width: 40px;
  background-color: rgb(0, 0, 0);
  border-radius: 50%;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  

}