@import url(//db.onlinewebfonts.com/c/a9ba87e28be39ce9b7efe3318d842d8e?family=TCCC-UnityHeadline);
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
 
}

@media only screen and (max-width: 600px) {
  body {
    
  }
}